* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


/* Background styling */
/* body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
} */

.nav img{
    width: auto;
    height: 8vh;
    margin-inline-end: auto;
    cursor: pointer;
}

.nav{
    display: flex;
    padding: 10px 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.icon-user{
    margin-left: 88%;

}

.icon-user:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.volver {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    text-align: end;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: auto;
}

.volver a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 10px 0px 0px 10px;
    font-size: 20px;
    padding: 5px;
}

.volver a:hover{
    transform: scale(1.1);
    transition: 0.5s; 

}

.nav i{
    font-size: 4vh;
    color: #6b8ee5;
    margin-top: 10px;    
    cursor: pointer;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    margin-top: 5vh;
}

.filtros {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* elementos del formulario */

.formulario_añadir {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
}

.formulario_añadir.open {
    opacity: 1;
    z-index: 999;
}

.formulario_contenido h2{
    color: #6b8ee5;
    text-align: center;
}
/* Estilos para el contenido del popup */
.formulario_contenido {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 50%;
    max-width: 400px;
    padding: 15px;
    
}

.formulario_contenido form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario_contenido form input{
    margin: 8px 0;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #6b8ee536;
    width: 85%;
}
.formulario_contenido button{
    background-color: #6b8ee5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

.selects-estudiante{
    border:5px;
    margin-top:20px;
    max-width:400px;
}

.selects-estudiante select{
    padding: 3px;
    width: 90px;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #5592bb6b;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    cursor: pointer;
    appearance: none;
}


.selects-estudiante select,
::picker(select) {
  appearance: base-select;
}

select {
  flex: 1;
}
.selects-estudiante select{
  border: 1px solid #dddddd;
  background: #eeeeee;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: #dddddd;
}
select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  font-size: 15px;
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 7px;
  transition: 0.4s;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}
option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  background: #6b8ee573;
}

option:checked {
  font-weight: bold;
}
::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
}
@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
::picker(select) {
  top: calc(anchor(bottom) + 1px);
  left: anchor(10%);
}

/* option:hover{
    background-color: black;
    transform: scale(1.1);
    transition: 0.5s;
} */
/* Estilos para el botón de cerrar */
.cerrar_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 5px;
    cursor: pointer;
    color: #333;
}

.table-div{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #333;
}

.dashboard-table{
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.dashboard-table tr th{
  padding: 5px;
  background-color: #6b8ee5;
  font-weight: 300;
  font-size: 0.9em;
  padding-left: 10px;
  color: black;
  
}

.fila-cuerpo:nth-of-type(even) {
    background-color: #6b8ee54b;
}

.fila-cuerpo:hover {
    background-color: #6b8ee56c;
}

.fila-cuerpo{
  font-weight: 200;
  font-size: 0.5;
}

.cuerpo-tabla{
  padding: 10px;
}

.boton_añadir {
    background-color: #6b8ee5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}


.boton_añadir:hover{
    color: white; 
    transform: scale(1.1); 
    transition: 0.5s;
}

.cerrar_btn:hover {
    color: white; 
    transform: scale(1.1); 
    transition: 0.5s;
}


.editar_btn {
    background-color: #77DD77;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    margin: 5px;
    text-align: center;
}

.editar_btn:hover {
    color: white; 
    transform: scale(1.1); 
    transition: 0.5s;
}

.confirmacion_btn {
    background-color: #ff6961;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.confirmacion_btn:hover {
    color: white; 
    transform: scale(1.1); 
    transition: 0.5s;
}

.btn-default{
    background-color: #6b8ee5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 50%;
    transition: background-color 0.3s ease;
}

.btn-default:hover{
    color: white; 
    transform: scale(1.1); 
    transition: 0.5s;
}  
